<h1>Registrar Pedido</h1>

<% if @order.errors.any? %>
  <div class="error-messages">
    <% @order.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= render 'form' %>