<div class="container mt-4">
  <h1 class="mb-4">Fornecedores</h1>

  <% if @suppliers.any? %>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Nome</th>
            <th>Localização</th>
          </tr>
        </thead>
        <tbody>
          <% @suppliers.each do |supplier| %>
            <tr>
              <td><%= link_to supplier.brand_name, supplier, class: "text-decoration-none" %></td>
              <td><%= supplier.city %> - <%= supplier.state %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert alert-info">
      Não existem fornecedores cadastrados
    </div>
  <% end %>

  <%= link_to new_supplier_path, class: "btn btn-outline-light d-inline-flex align-items-center" do %>
    <i class="bi bi-plus-circle me-2"></i>
    <span>Cadastrar novo fornecedor</span>
  <% end %>
</div>
